body{
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container{
  width: 80%;
  height: 100%;
  margin:auto;
  overflow: hidden;
}

#main-header{
  background-color: #fcba03;
  color: #000;
  float:left;
  width: 50%;
}

#main-header h1{
  padding: 0;
  margin: 0;
}

#navbar{
  background-color: #333;
  color: #fff;
  float: right;
  width: 50%;
}

#navbar li{
  display: inline;
}

#navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 20px;
}