img{
	max-width:90%;
	position: relative;
	height: auto;
	border: 1px solid;
}

.mainbox {
	background-color: red;
	width: 800px; 
	margin: 0px auto;
	
}

.leftside {
	background-color: #7bd9e3;
	width: 100px;
	float: left;
}

.main{
	background-color: #e37b87;
	width: 600px;
	float: left;
}

.rightside{
	background-color: #7bd9e3;
	width: 100px;
	float: right;
}

.footer{
	background-color: #7bdbaf;
	clear: both;		
}

.menu{
	background-color: beige;
	height: 34px;
	text-align: center; 	
}

.menu>ul>li{
	display: inline;
	padding: 5px 5px;
	background: darkgreen;
	position: relative;
	top: 8px;
	font-family: Tahoma, serif;
	font-size: 14px; 
}

.menu>ul>li>a{
	text-decoration: none;
	color: #fff;
}