body{
	/* color: #666; */
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	margin: 0;
	background: #EAEBED;
}

.container{
	width: 80%;
	margin: auto;
	padding: 10px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}

textarea {
	width: 100%;
	margin-bottom: 10px;
}


footer {
	background-color: #343330;
	overflow: hidden; 
	color: #fff;
	border-top: solid 5px #706C61;
}

iframe {
	display: block;
	margin: 0 auto;
}

.navbar {
	background-color: #171219;
	/*border-bottom: 3px solid;*/
}

.logo {
	display: inline-flex;
	text-decoration: none;
	color: #EEA243;
	font: bold;
}

.nav {
	display: inline-flex;
	float: right;
	padding: 30px;	
}

.nav-link {
	color: #EAEBED;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}

.nav-link:hover {
	color: #C06944;
}



.banner {
	height: 400px;  
	background-color: rgb(52, 51, 57);
	background-image: url(../images/outside.jpg);
	background-position: center;
	background-size: cover;
}

.header {
	text-align: center;
	color: white;
	line-height: 400px;
}

.mission {
	padding: 25px;
	text-align: justify;
}

.centered-text {
	display: inline-block;
	vertical-align: middle;
	font: small-caps bold;
	line-height: 18px;
	text-shadow: 10px #171219;
}

.centered-text {
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

.mission {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}


.text {
	text-align: justify;
	float: left;	
/*	display: inline-block;
*/	margin-bottom: 20px;
}

.image {
	width: 500px;
	padding-left: 45px;
	padding-right: 45px;
	/*padding: 45px;*/
	padding-bottom: 45px;
/*	margin-bottom: 20px;
*/	float: right;
}

.ytplayer {
	display: block;
	margin: 0 auto;
	padding: 20px;
}

.opening-hours {
	padding: 20px;
	width: 30%;
	float: left;
	border-right: 2px solid #706C61;
}

.contact-info {
	padding: 20px;
	width: 30%;
	float: left;
	border-right: 2px solid #706C61;
}

.letter {
	padding: 20px;
	width: 30%;
	float: left;
}

.button {
	padding: 10px 15px;
	border: none;
	background: #171219;
	color: #fff;
}

.button:hover {
	background-color: #EEA243;
}

.text-color {
	font-weight: bold;
	color: #706C61;
}

.column-left {
	float: left;
	width: 25%;
}

.column-center-left {
	float: left;
	width: 25%;
}

.column-center-right {
	float: left;
	width: 25%;
}

.column-right {
	float: right;
	width: 25%;
}


.menu-img {
	width: 400px;

}


.gal-img {
	width: 400px;
}

.google-maps {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 20px;
}

.categories {
	background-color: #343330;
}	

.catg-item {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.catg-link {
	color: #fff;
	text-decoration: none;
	text-align: center;
	display: inline;
}

.catg-link:hover {
	color: #C06944;
}

/* Media Queries */

@media screen and (max-width: 900px) {
	.nav-item {
		display: none;
	}

	.column-left {
		width: 100%;
	}

	.column-center-left {
		width: 100%;
	}

	.column-center-right {
		width: 100%;
	}

	.column-right {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.image  {
		display: block;
		margin: 0 auto;
	}

	.banner {
		height: 400px;
	}

	.centered-text {
		line-height: 55px;
	}
}

@media screen and (max-width: 1570px) {
	.opening-hours {
		width: 100%;
		border-right:0;
		border-bottom: 2px solid #706C61;
	}

	.contact-info {
		width: 100%;
		border-right:0;
		border-bottom: 2px solid #706C61;
	}

	.letter {
		width: 100%;
		border-right:0;
	}


}

/* ... */